In [15]:
import pandas as pd
file_1=pd.read_excel(r"C:\Users\Parimal\Downloads\Cointab Data Analyst - Challenge\Company X - Order Report.xlsx")
file_2=pd.read_excel(r"C:\Users\Parimal\Downloads\Cointab Data Analyst - Challenge\Company X - Pincode Zones.xlsx")
file_3=pd.read_excel(r"C:\Users\Parimal\Downloads\Cointab Data Analyst - Challenge\Company X - SKU Master.xlsx")
file_4=pd.read_excel(r"C:\Users\Parimal\Downloads\Cointab Data Analyst - Challenge\Courier Company - Invoice.xlsx")
file_5=pd.read_excel(r"C:\Users\Parimal\Downloads\Cointab Data Analyst - Challenge\Courier Company - Rates.xlsx")
file_out_1=pd.read_excel(r"C:\Users\Parimal\Downloads\Cointab Data Analyst - Challenge\Expected_Result.xlsx",sheet_name='Summary')
file_out_2=pd.read_excel(r"C:\Users\Parimal\Downloads\Cointab Data Analyst - Challenge\Expected_Result.xlsx",sheet_name='Calculations')

In [16]:
file_3.head()

             SKU  Weight (g)
0  8904223815682         210
1  8904223815859         165
2  8904223815866         113
3  8904223815873          65
4  8904223816214         120

In [17]:
file_11=file_1.copy()

In [18]:
file_11.insert(2,'w',0)

In [19]:
file_11

     ExternOrderNo            SKU  w  Order Qty
0       2001827036  8904223818706  0        1.0
1       2001827036  8904223819093  0        1.0
2       2001827036  8904223819109  0        1.0
3       2001827036  8904223818430  0        1.0
4       2001827036  8904223819277  0        1.0
..             ...            ... ..        ...
395     2001806229  8904223818942  0        1.0
396     2001806229  8904223818850  0        1.0
397     2001806226  8904223818850  0        2.0
398     2001806210  8904223816214  0        1.0
399     2001806210  8904223818874  0        1.0

[400 rows x 4 columns]

In [20]:
file_3

              SKU  Weight (g)
0   8904223815682         210
1   8904223815859         165
2   8904223815866         113
3   8904223815873          65
4   8904223816214         120
..            ...         ...
61  8904223819505         210
62  8904223819499         210
63  8904223819512         210
64  8904223819543         300
65     SACHETS001          10

[66 rows x 2 columns]

In [21]:
import numpy as np

for i in range(file_3.shape[0]):
    sk=file_3['SKU'][i]
    i_1=np.where(file_11['SKU']==sk)
    for j in i_1:
        file_11['w'][j]=(file_3['Weight (g)'][i])/1000
file_11

C:\Users\Parimal\AppData\Local\Temp/ipykernel_25024/4127622608.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_11['w'][j]=(file_3['Weight (g)'][i])/1000

     ExternOrderNo            SKU      w  Order Qty
0       2001827036  8904223818706  0.127        1.0
1       2001827036  8904223819093  0.150        1.0
2       2001827036  8904223819109  0.100        1.0
3       2001827036  8904223818430  0.165        1.0
4       2001827036  8904223819277  0.350        1.0
..             ...            ...    ...        ...
395     2001806229  8904223818942  0.133        1.0
396     2001806229  8904223818850  0.240        1.0
397     2001806226  8904223818850  0.240        2.0
398     2001806210  8904223816214  0.120        1.0
399     2001806210  8904223818874  0.100        1.0

[400 rows x 4 columns]

In [22]:
file_11.rename(columns = {'w':'Tot.w'}, inplace = True)
file_11['Tot.w']=file_11['Tot.w']*file_11['Order Qty']
file_11

     ExternOrderNo            SKU  Tot.w  Order Qty
0       2001827036  8904223818706  0.127        1.0
1       2001827036  8904223819093  0.150        1.0
2       2001827036  8904223819109  0.100        1.0
3       2001827036  8904223818430  0.165        1.0
4       2001827036  8904223819277  0.350        1.0
..             ...            ...    ...        ...
395     2001806229  8904223818942  0.133        1.0
396     2001806229  8904223818850  0.240        1.0
397     2001806226  8904223818850  0.480        2.0
398     2001806210  8904223816214  0.120        1.0
399     2001806210  8904223818874  0.100        1.0

[400 rows x 4 columns]

In [23]:
gr=file_11.groupby('ExternOrderNo',as_index=False)

In [24]:
file_output=gr.agg(sum)
file_output.rename(columns={'ExternOrderNo':'Order ID'},inplace=True)
AWB=[]
for i in range(file_output.shape[0]):
    ID=file_output['Order ID'][i]
    i_1=np.where(file_4['Order ID']==ID)
    i_1=i_1[0][0]
    aw=file_4['AWB Code'][i_1]
    AWB.append(aw)
file_output.insert(1,'AWB Code',AWB)

file_output.rename(columns={'Tot.w':'Total weight as per X (KG)'},inplace=True)
file_output.drop('Order Qty',axis=1,inplace=True)
file_output

       Order ID       AWB Code  Total weight as per X (KG)
0    2001806210  1091117221940                       0.220
1    2001806226  1091117222065                       0.480
2    2001806229  1091117222080                       0.500
3    2001806232  1091117222124                       1.302
4    2001806233  1091117222135                       0.245
..          ...            ...                         ...
119  2001821995  1091121183730                       0.477
120  2001822466  1091121305541                       1.376
121  2001823564  1091121666133                       0.672
122  2001825261  1091121981575                       1.557
123  2001827036  1091122418320                       1.676

[124 rows x 3 columns]

In [25]:
slab=[]
for i in file_output['Total weight as per X (KG)']:
    inte=i//1
    fra=i%1
    if fra==0:
        slab.append(inte)
    elif fra>0 and fra<=0.5:
        slab.append(inte+0.5)
    else:
        slab.append(inte+1)
file_output['Weight slab as per X (KG)']=slab
file_output

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG)
0,2001806210,1091117221940,0.220,0.5
1,2001806226,1091117222065,0.480,0.5
2,2001806229,1091117222080,0.500,0.5
3,2001806232,1091117222124,1.302,1.5
4,2001806233,1091117222135,0.245,0.5
...,...,...,...,...
119,2001821995,1091121183730,0.477,0.5
120,2001822466,1091121305541,1.376,1.5
121,2001823564,1091121666133,0.672,1.0
122,2001825261,1091121981575,1.557,2.0
123,2001827036,1091122418320,1.676,2.0

In [26]:
TWC=[]
for i in range(file_output.shape[0]):
    ID=file_output['Order ID'][i]
    i_1=np.where(file_4['Order ID']==ID)
    i_1=i_1[0][0]
    twc=file_4['Charged Weight'][i_1]
    TWC.append(twc)
file_output['Total weight as per Courier Company (KG)']=TWC
file_output

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG)
0,2001806210,1091117221940,0.220,0.5,2.92
1,2001806226,1091117222065,0.480,0.5,0.68
2,2001806229,1091117222080,0.500,0.5,0.71
3,2001806232,1091117222124,1.302,1.5,1.30
4,2001806233,1091117222135,0.245,0.5,0.78
...,...,...,...,...,...
119,2001821995,1091121183730,0.477,0.5,0.50
120,2001822466,1091121305541,1.376,1.5,1.10
121,2001823564,1091121666133,0.672,1.0,0.70
122,2001825261,1091121981575,1.557,2.0,1.60
123,2001827036,1091122418320,1.676,2.0,1.60

In [27]:
slab_C=[]
for i in file_output['Total weight as per Courier Company (KG)']:
    inte=i//1
    fra=i%1
    if fra==0:
        slab_C.append(inte)
    elif fra>0 and fra<=0.5:
        slab_C.append(inte+0.5)
    else:
        slab_C.append(inte+1)
file_output['Weight slab charged by Courier Company (KG)']=slab_C
file_output.head()

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG)
0,2001806210,1091117221940,0.220,0.5,2.92,3.0
1,2001806226,1091117222065,0.480,0.5,0.68,1.0
2,2001806229,1091117222080,0.500,0.5,0.71,1.0
3,2001806232,1091117222124,1.302,1.5,1.30,1.5
4,2001806233,1091117222135,0.245,0.5,0.78,1.0

In [28]:
ZONE_X=[]
ZONE_C=[]
for i in range(file_output.shape[0]):
    ID=file_output['Order ID'][i]
    i_1=np.where(file_4['Order ID']==ID)
    i_1=i_1[0][0]
    c_pin=file_4['Customer Pincode'][i_1]
    zone_c=file_4['Zone'][i_1]
    ZONE_C.append(zone_c)
    i_2=np.where(file_2['Customer Pincode']==c_pin)
    i_2=i_2[0][0]
    zone_x=file_2['Zone'][i_2]
    ZONE_X.append(zone_x)
file_output['Delivery Zone as per X']=ZONE_X
file_output['Delivery Zone charged by Courier Company']=ZONE_C
file_output

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company
0,2001806210,1091117221940,0.220,0.5,2.92,3.0,b,b
1,2001806226,1091117222065,0.480,0.5,0.68,1.0,d,d
2,2001806229,1091117222080,0.500,0.5,0.71,1.0,d,d
3,2001806232,1091117222124,1.302,1.5,1.30,1.5,d,d
4,2001806233,1091117222135,0.245,0.5,0.78,1.0,b,b
...,...,...,...,...,...,...,...,...
119,2001821995,1091121183730,0.477,0.5,0.50,0.5,b,d
120,2001822466,1091121305541,1.376,1.5,1.10,1.5,b,d
121,2001823564,1091121666133,0.672,1.0,0.70,1.0,d,d
122,2001825261,1091121981575,1.557,2.0,1.60,2.0,d,d
123,2001827036,1091122418320,1.676,2.0,1.60,2.0,e,b

In [29]:
CHRG_X=[]
for i in range(file_output.shape[0]):
    ID=file_output['Order ID'][i]
    i_1=np.where(file_4['Order ID']==ID)
    i_1=i_1[0][0]
    s_type=file_4['Type of Shipment'][i_1]
    if s_type=='Forward charges':
        if file_output['Delivery Zone as per X'][i]=='a':
            if file_output['Weight slab as per X (KG)'][i]<=0.5:
                chrg_x=file_5['fwd_a_fixed'][0]
                CHRG_X.append(chrg_x)
            else:
                sl=file_output['Weight slab as per X (KG)'][i]*2
                chrg_x=(file_5['fwd_a_fixed'][0])+((sl-1)*(file_5['fwd_a_additional'][0]))
                CHRG_X.append(chrg_x)
        elif file_output['Delivery Zone as per X'][i]=='b':
            if file_output['Weight slab as per X (KG)'][i]<=0.5:
                chrg_x=file_5['fwd_b_fixed'][0]
                CHRG_X.append(chrg_x)
            else:
                sl=file_output['Weight slab as per X (KG)'][i]*2
                chrg_x=(file_5['fwd_b_fixed'][0])+((sl-1)*(file_5['fwd_b_additional'][0]))
                CHRG_X.append(chrg_x)
        elif file_output['Delivery Zone as per X'][i]=='c':
            if file_output['Weight slab as per X (KG)'][i]<=0.5:
                chrg_x=file_5['fwd_c_fixed'][0]
                CHRG_X.append(chrg_x)
            else:
                sl=file_output['Weight slab as per X (KG)'][i]*2
                chrg_x=(file_5['fwd_c_fixed'][0])+((sl-1)*(file_5['fwd_c_additional'][0]))
                CHRG_X.append(chrg_x)
        elif file_output['Delivery Zone as per X'][i]=='d':
            if file_output['Weight slab as per X (KG)'][i]<=0.5:
                chrg_x=file_5['fwd_d_fixed'][0]
                CHRG_X.append(chrg_x)
            else:
                sl=file_output['Weight slab as per X (KG)'][i]*2
                chrg_x=(file_5['fwd_d_fixed'][0])+((sl-1)*(file_5['fwd_d_additional'][0]))
                CHRG_X.append(chrg_x)
        else:
            if file_output['Weight slab as per X (KG)'][i]<=0.5:
                chrg_x=file_5['fwd_e_fixed'][0]
                CHRG_X.append(chrg_x)
            else:
                sl=file_output['Weight slab as per X (KG)'][i]*2
                chrg_x=(file_5['fwd_e_fixed'][0])+((sl-1)*(file_5['fwd_e_additional'][0]))
                CHRG_X.append(chrg_x)
    else:
        if file_output['Delivery Zone as per X'][i]=='a':
            if file_output['Weight slab as per X (KG)'][i]<=0.5:
                chrg_x=(file_5['fwd_a_fixed'][0])+(file_5['rto_a_fixed'][0])
                CHRG_X.append(chrg_x)
            else:
                sl=file_output['Weight slab as per X (KG)'][i]*2
                chrg_x=((file_5['fwd_a_fixed'][0])+(file_5['rto_a_fixed'][0]))+((sl-1)*((file_5['fwd_a_additional'][0])+(file_5['rto_a_additional'][0])))
                CHRG_X.append(chrg_x)
        elif file_output['Delivery Zone as per X'][i]=='b':
            if file_output['Weight slab as per X (KG)'][i]<=0.5:
                chrg_x=(file_5['fwd_b_fixed'][0])+(file_5['rto_b_fixed'][0])
                CHRG_X.append(chrg_x)
            else:
                sl=file_output['Weight slab as per X (KG)'][i]*2
                chrg_x=((file_5['fwd_b_fixed'][0])+(file_5['rto_b_fixed'][0]))+((sl-1)*((file_5['fwd_b_additional'][0])+(file_5['rto_b_additional'][0])))
                CHRG_X.append(chrg_x)
        elif file_output['Delivery Zone as per X'][i]=='c':
            if file_output['Weight slab as per X (KG)'][i]<=0.5:
                chrg_x=(file_5['fwd_c_fixed'][0])+(file_5['rto_c_fixed'][0])
                CHRG_X.append(chrg_x)
            else:
                sl=file_output['Weight slab as per X (KG)'][i]*2
                chrg_x=((file_5['fwd_c_fixed'][0])+(file_5['rto_c_fixed'][0]))+((sl-1)*((file_5['fwd_c_additional'][0])+(file_5['rto_c_additional'][0])))
                CHRG_X.append(chrg_x)
        elif file_output['Delivery Zone as per X'][i]=='d':
            if file_output['Weight slab as per X (KG)'][i]<=0.5:
                chrg_x=(file_5['fwd_d_fixed'][0])+(file_5['rto_d_fixed'][0])
                CHRG_X.append(chrg_x)
            else:
                sl=file_output['Weight slab as per X (KG)'][i]*2
                chrg_x=((file_5['fwd_d_fixed'][0])+(file_5['rto_d_fixed'][0]))+((sl-1)*((file_5['fwd_d_additional'][0])+(file_5['rto_d_additional'][0])))
                CHRG_X.append(chrg_x)
        else:
            if file_output['Weight slab as per X (KG)'][i]<=0.5:
                chrg_x=(file_5['fwd_e_fixed'][0])+(file_5['rto_e_fixed'][0])
                CHRG_X.append(chrg_x)
            else:
                sl=file_output['Weight slab as per X (KG)'][i]*2
                chrg_x=((file_5['fwd_e_fixed'][0])+(file_5['rto_e_fixed'][0]))+((sl-1)*((file_5['fwd_e_additional'][0])+(file_5['rto_e_additional'][0])))
                CHRG_X.append(chrg_x)
file_output['Expected Charge as per X (Rs.)']=CHRG_X
file_output

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.)
0,2001806210,1091117221940,0.220,0.5,2.92,3.0,b,b,33.0
1,2001806226,1091117222065,0.480,0.5,0.68,1.0,d,d,45.4
2,2001806229,1091117222080,0.500,0.5,0.71,1.0,d,d,45.4
3,2001806232,1091117222124,1.302,1.5,1.30,1.5,d,d,135.0
4,2001806233,1091117222135,0.245,0.5,0.78,1.0,b,b,33.0
...,...,...,...,...,...,...,...,...,...
119,2001821995,1091121183730,0.477,0.5,0.50,0.5,b,d,33.0
120,2001822466,1091121305541,1.376,1.5,1.10,1.5,b,d,89.6
121,2001823564,1091121666133,0.672,1.0,0.70,1.0,d,d,176.3
122,2001825261,1091121981575,1.557,2.0,1.60,2.0,d,d,355.5
123,2001827036,1091122418320,1.676,2.0,1.60,2.0,e,b,223.1

In [30]:
CHRG_C=[]
for i in range(file_output.shape[0]):
    ID=file_output['Order ID'][i]
    i_1=np.where(file_4['Order ID']==ID)
    i_1=i_1[0][0]
    s_type=file_4['Type of Shipment'][i_1]
    if s_type=='Forward charges':
        if file_output['Delivery Zone charged by Courier Company'][i]=='a':
            if file_output['Weight slab charged by Courier Company (KG)'][i]<=0.5:
                chrg_c=file_5['fwd_a_fixed'][0]
                CHRG_C.append(chrg_x)
            else:
                sl=file_output['Weight slab charged by Courier Company (KG)'][i]*2
                chrg_c=(file_5['fwd_a_fixed'][0])+((sl-1)*(file_5['fwd_a_additional'][0]))
                CHRG_C.append(chrg_c)
        elif file_output['Delivery Zone charged by Courier Company'][i]=='b':
            if file_output['Weight slab charged by Courier Company (KG)'][i]<=0.5:
                chrg_c=file_5['fwd_b_fixed'][0]
                CHRG_C.append(chrg_c)
            else:
                sl=file_output['Weight slab charged by Courier Company (KG)'][i]*2
                chrg_c=(file_5['fwd_b_fixed'][0])+((sl-1)*(file_5['fwd_b_additional'][0]))
                CHRG_C.append(chrg_c)
        elif file_output['Delivery Zone charged by Courier Company'][i]=='c':
            if file_output['Weight slab charged by Courier Company (KG)'][i]<=0.5:
                chrg_c=file_5['fwd_c_fixed'][0]
                CHRG_C.append(chrg_c)
            else:
                sl=file_output['Weight slab charged by Courier Company (KG)'][i]*2
                chrg_c=(file_5['fwd_c_fixed'][0])+((sl-1)*(file_5['fwd_c_additional'][0]))
                CHRG_C.append(chrg_x)
        elif file_output['Delivery Zone charged by Courier Company'][i]=='d':
            if file_output['Weight slab charged by Courier Company (KG)'][i]<=0.5:
                chrg_x=file_5['fwd_d_fixed'][0]
                CHRG_C.append(chrg_c)
            else:
                sl=file_output['Weight slab charged by Courier Company (KG)'][i]*2
                chrg_c=(file_5['fwd_d_fixed'][0])+((sl-1)*(file_5['fwd_d_additional'][0]))
                CHRG_C.append(chrg_c)
        else:
            if file_output['Weight slab charged by Courier Company (KG)'][i]<=0.5:
                chrg_c=file_5['fwd_e_fixed'][0]
                CHRG_C.append(chrg_c)
            else:
                sl=file_output['Weight slab charged by Courier Company (KG)'][i]*2
                chrg_c=(file_5['fwd_e_fixed'][0])+((sl-1)*(file_5['fwd_e_additional'][0]))
                CHRG_C.append(chrg_c)
    else:
        if file_output['Delivery Zone charged by Courier Company'][i]=='a':
            if file_output['Weight slab charged by Courier Company (KG)'][i]<=0.5:
                chrg_c=(file_5['fwd_a_fixed'][0])+(file_5['rto_a_fixed'][0])
                CHRG_C.append(chrg_c)
            else:
                sl=file_output['Weight slab charged by Courier Company (KG)'][i]*2
                chrg_c=((file_5['fwd_a_fixed'][0])+(file_5['rto_a_fixed'][0]))+((sl-1)*((file_5['fwd_a_additional'][0])+(file_5['rto_a_additional'][0])))
                CHRG_C.append(chrg_c)
        elif file_output['Delivery Zone charged by Courier Company'][i]=='b':
            if file_output['Weight slab charged by Courier Company (KG)'][i]<=0.5:
                chrg_c=(file_5['fwd_b_fixed'][0])+(file_5['rto_b_fixed'][0])
                CHRG_C.append(chrg_c)
            else:
                sl=file_output['Weight slab charged by Courier Company (KG)'][i]*2
                chrg_c=((file_5['fwd_b_fixed'][0])+(file_5['rto_b_fixed'][0]))+((sl-1)*((file_5['fwd_b_additional'][0])+(file_5['rto_b_additional'][0])))
                CHRG_C.append(chrg_c)
        elif file_output['Delivery Zone charged by Courier Company'][i]=='c':
            if file_output['Weight slab charged by Courier Company (KG)'][i]<=0.5:
                chrg_c=(file_5['fwd_c_fixed'][0])+(file_5['rto_c_fixed'][0])
                CHRG_C.append(chrg_c)
            else:
                sl=file_output['Weight slab charged by Courier Company (KG)'][i]*2
                chrg_c=((file_5['fwd_c_fixed'][0])+(file_5['rto_c_fixed'][0]))+((sl-1)*((file_5['fwd_c_additional'][0])+(file_5['rto_c_additional'][0])))
                CHRG_C.append(chrg_c)
        elif file_output['Delivery Zone charged by Courier Company'][i]=='d':
            if file_output['Weight slab charged by Courier Company (KG)'][i]<=0.5:
                chrg_c=(file_5['fwd_d_fixed'][0])+(file_5['rto_d_fixed'][0])
                CHRG_C.append(chrg_c)
            else:
                sl=file_output['Weight slab charged by Courier Company (KG)'][i]*2
                chrg_c=((file_5['fwd_d_fixed'][0])+(file_5['rto_d_fixed'][0]))+((sl-1)*((file_5['fwd_d_additional'][0])+(file_5['rto_d_additional'][0])))
                CHRG_C.append(chrg_c)
        else:
            if file_output['Weight slab charged by Courier Company (KG)'][i]<=0.5:
                chrg_c=(file_5['fwd_e_fixed'][0])+(file_5['rto_e_fixed'][0])
                CHRG_C.append(chrg_c)
            else:
                sl=file_output['Weight slab charged by Courier Company (KG)'][i]*2
                chrg_c=((file_5['fwd_e_fixed'][0])+(file_5['rto_e_fixed'][0]))+((sl-1)*((file_5['fwd_e_additional'][0])+(file_5['rto_e_additional'][0])))
                CHRG_C.append(chrg_c)
file_output['Charges Billed by Courier Company (Rs.)']=CHRG_C
file_output

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.)
0,2001806210,1091117221940,0.220,0.5,2.92,3.0,b,b,33.0,174.5
1,2001806226,1091117222065,0.480,0.5,0.68,1.0,d,d,45.4,90.2
2,2001806229,1091117222080,0.500,0.5,0.71,1.0,d,d,45.4,90.2
3,2001806232,1091117222124,1.302,1.5,1.30,1.5,d,d,135.0,135.0
4,2001806233,1091117222135,0.245,0.5,0.78,1.0,b,b,33.0,61.3
...,...,...,...,...,...,...,...,...,...,...
119,2001821995,1091121183730,0.477,0.5,0.50,0.5,b,d,33.0,90.2
120,2001822466,1091121305541,1.376,1.5,1.10,1.5,b,d,89.6,135.0
121,2001823564,1091121666133,0.672,1.0,0.70,1.0,d,d,176.3,176.3
122,2001825261,1091121981575,1.557,2.0,1.60,2.0,d,d,355.5,355.5
123,2001827036,1091122418320,1.676,2.0,1.60,2.0,e,b,223.1,117.9

In [31]:
file_output['Difference Between Expected Charges and Billed Charges (Rs.)']=file_output['Expected Charge as per X (Rs.)']-file_output['Charges Billed by Courier Company (Rs.)']

In [32]:
file_output

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806210,1091117221940,0.220,0.5,2.92,3.0,b,b,33.0,174.5,-141.5
1,2001806226,1091117222065,0.480,0.5,0.68,1.0,d,d,45.4,90.2,-44.8
2,2001806229,1091117222080,0.500,0.5,0.71,1.0,d,d,45.4,90.2,-44.8
3,2001806232,1091117222124,1.302,1.5,1.30,1.5,d,d,135.0,135.0,0.0
4,2001806233,1091117222135,0.245,0.5,0.78,1.0,b,b,33.0,61.3,-28.3
...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,1091121183730,0.477,0.5,0.50,0.5,b,d,33.0,90.2,-57.2
120,2001822466,1091121305541,1.376,1.5,1.10,1.5,b,d,89.6,135.0,-45.4
121,2001823564,1091121666133,0.672,1.0,0.70,1.0,d,d,176.3,176.3,0.0
122,2001825261,1091121981575,1.557,2.0,1.60,2.0,d,d,355.5,355.5,0.0
123,2001827036,1091122418320,1.676,2.0,1.60,2.0,e,b,223.1,117.9,105.2

In [33]:
file_output.to_excel(r'C:\Users\Parimal\Desktop\final.xlsx')